.nav-menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  z-index: 101;
  background-color: black;
}
.routes {
  margin-left: 3rem;
}
.routes > li {
  list-style: none;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
}

li > a {
  color: white;
  text-decoration: none;
  font-size: 28px;
}

.logo {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
}

.socials {
  position: fixed;
  margin: 1rem 0;
  font-size: 10px;
  display: flex;
  width: 100dvw;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.icons-group {
  display: flex;
  gap: 0.5rem;
  opacity: 0.7;
}

.icons-group img {
  width: 16px;
  margin: 0.5rem 0;
}

.info {
  text-align: center;
  opacity: 0.5;
}

.smaller-icon {
  font-size: 30px;
}

.menu-visible {
  visibility: visible;
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

.menu-invisible {
  visibility: hidden;
  opacity: 0%;
  transition: all 0.75s ease-in-out;
  transition-timing-function: cubic-bezier(1, -0.01, 0.53, 1.09);
}

.current-route {
  color: var(--primary-color-text);
}

.slide-in{
  transform: translateX(0px);
  visibility: visible;
  opacity: 100%;
  transition: all 0.5s ease-in-out;
}

.slide-out {
  transform: translateX(20px);
  visibility: hidden;
  opacity: 0%;
  transition: all 0.25s ease-in-out;
  transition-delay: calc(0.055s * 5);
}

.slide-in ~ li {
  transform: translateX(0px);
  visibility: visible;
  opacity: 100%;
  transition: all 0.5s ease-in-out;
  transition-delay: calc(0.055s * var(--i));
}

.slide-out ~ li {
  transform: translateX(20px);
  visibility: hidden;
  opacity: 0%;
  transition: all 0.25s ease-in-out;
  transition-delay: calc(0.055s * (5 - var(--i)));
}
