@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;700&family=DotGothic16&family=Archivo:wght@400;500;600&display=swap");

body {
  height: 100dvh;
  width: 100dvw;
  margin: 0px;
  background-color: black;
  color: whitesmoke;
  font-family: "IBM Plex Mono", monospace;
  --primary-color: #AE3444;
  --primary-color-text: #FF5F74;
  --primary-color-text-dark: #611A23;
  --accent-color: rgb(255, 151, 165);
}

canvas {
  font-family: "IBM Plex Mono", monospace;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  user-select: none;
}

.mobile,
.desktop {
  width: 100dvw;
  height: 100dvh;
}

.pixelated {
  line-height: 1.5;
  font-family: "DotGothic16", monospace;
}

.monospace {
  line-height: 1.5;
  font-family: "IBM Plex Mono", monospace;
}

.black-bg {
  background-color: black;
  color: white;
}

.white-bg {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 850px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 850px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
