/* https://codepen.io/pedbernardo/pen/rOxbav */

.window {
  position: fixed;
  z-index: 100;
  top: 10rem;
  left: 10rem;
  width: 500px;
  height: 350px;
  background-color: rgba(37, 37, 37, 0.85);
  border: 1px solid #c9c9c9;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.3s;
  font-family: "Space Mono", monospace;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.window.window--maximized {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.window.window--minimized {
  height: 25px;
  width: 180px;
}
.window.window--minimized .window-content {
  display: none;
}
.window.window--destroyed {
  opacity: 0;
  width: 0;
  height: 0;
}
.window-header {
  background-color: #eee;
  height: 25px;
}
.window-controls {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.window-controls .control-item {
  width: 25px;
  height: 25px;
  text-align: center;
  color: #333;
  transition: all ease-in 0.15s;
  cursor: pointer;
}
.window-controls .control-item:hover {
  background-color: #ccc;
}
.control-item.control-close {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.control-item.control-close:hover {
  background-color: #ec6060;
  color: #fff;
}
.control-item.control-maximize {
  line-height: 19px;
}
.control-item.control-minimize {
  line-height: 22px;
}
.window-cursor {
  display: flex;
  margin: 5px;
  align-items: center;
}
.window-cursor .i-cursor-indicator {
  color: #7ca8d4;
  font-size: 1em;
  font-family: "Consolas", monospace;
  margin: 0 2px 0 5px;
}
.window-cursor .i-cursor-underscore {
  width: 10px;
  height: 3px;
  background-color: #fff;
  align-self: flex-end;
  margin-right: 5px;
  -webkit-animation: blink 1s steps(2, start) infinite;
  animation: blink 1s steps(2, start) infinite;
}
.window-input {
  background-color: inherit;
  border: none;
  outline: 0;
  color: transparent;
  text-shadow: 0 0 0 #fff;
  font-family: "Space Mono", monospace;
  width: 0.5rem;
  font-size: 1rem;
  /* flex: 1; */
}
.window-input:focus {
  outline: none;
}
.i-prompt {
  position: fixed;
  top: 11rem;
  right: 11rem;
  z-index: 100;
  width: 62px;
  height: 62px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 2.5rem;
  /* background: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/terminal-48.png")
    no-repeat center; */
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all ease-in-out 0.15s;
}
.i-prompt:hover {
  background-position: center 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.i-prompt.hidden {
  width: 0;
  height: 0;
  opacity: 0;
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

.window-content {
    height: 90%;
    width: 90%;
    box-sizing: border-box;
    padding: 1rem;
    overflow: scroll;
}

.window-content::-webkit-scrollbar {
    display: none;
}

.window .outputs {
    padding-bottom: 0.5rem;
}

.window .cmd {
    color: rgb(108, 169, 108);
}
.window .cmd_err {
    color: rgb(169, 108, 108);
}