/* Modal Styles */
.modal-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  position: fixed;
  z-index: 99;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 3rem 2rem;
  box-sizing: border-box;
}
.modal-content,
.modal-top,
.modal-bottom {
  background-color: white;
  color: black;
}
.modal-top {
  box-sizing: border-box;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.modal-header {
  font-size: large;
  font-weight: bold;
}
.modal-content {
  box-sizing: border-box;
  width: 100%;
  max-height: 80%;
  height: fit-content;
  overflow: auto;
  padding: 1rem;
}
.modal-bottom {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 213, 136);
}

.modal-bottom > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.cursor-pointer {
  cursor: pointer;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 850px) {
  .modal-wrapper {
    padding: 3rem 25%;
  }
}