.nav-bar-desktop {
  display: flex;
  position: relative;
  z-index: 101;
  margin: 1rem;
}

.routes-desktop,
.nav-groups {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.routes-desktop li {
  list-style: none;
}

.route-desktop > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

.text-black > a {
  color: black;
}

.text-white > a {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.3;
  transition: all 250ms ease;
}

.text-white:hover > a {
  opacity: 1;
}


.current-route {
  color: var(--primary-color) !important;
}

.nav-group-invisible {
  display: none;
}

.nav-group-visible {
  display: flex;
}

.nav-group-toggle {
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: "product_sans", monospace;
  border: none;
}

.text-black > .nav-group-toggle {
  color: black;
}

.text-white > .nav-group-toggle {
  color: white;
}
.current-route::after {
  background-color: var(--primary-color) !important;
}

.text-black > .underline-on-hover::after {
  background-color: black;
}

.text-white > .underline-on-hover::after {
  background-color: rgba(255, 255, 255, 0.7);
}

.underline-on-hover {
  display: inline-block;
  position: relative;
}

.underline-on-hover:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.52px;
  bottom: -4px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-on-hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#events-desktop {
  position: relative;
  font-size: 0.9rem;
  height: 45px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  border: 2px solid rgb(15, 184, 156);
  border-radius: 5px;
}
#events-desktop > a {
  color: rgb(18, 196, 166);
  z-index: 1;
  transition: 250ms;
}
.open-x {
  background: rgb(15, 184, 156);
  width: 100%;
  height: 0%;
  position: absolute;
  top: 20px;
  left: 0;
  transition: 250ms ease-in-out;
}
#events-desktop:hover .open-x {
  top: 0;
  height: 100%;
}
#events-desktop:hover > a {
  color: black !important;
  opacity: 1;
}

#events-desktop > a {
  opacity: 1;
}
