* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.top-0 {
  top: 0;
}
.top-70 {
  top: 70px;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.menu-holder {
  padding: 1rem;
  color: rgb(255, 255, 255);
}

.logo-holder {
  left: 0;
  padding: 0.5rem 1rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-dir-col {
  flex-direction: column;
}

.width-33 {
  width: 37%;
}

.width-63 {
  width: 63%;
}

.width-67 {
  width: 63%;
}

.width-100 {
  width: 100%;
}

.height-45 {
  height: 45%;
}

.height-100 {
  height: 100%;
}

.height-screen {
  height: 100vh;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.text-center {
  text-align: center;
}

.link-pointer {
  cursor: pointer;
}

.z-1 {
  z-index: 1;
}

.z-100 {
  z-index: 100;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.initial {
  position: initial;
}

.bg-black {
  background: black;
}

/* Mobile mode */

.top-section {
  background-color: rgba(67, 67, 67, 0.5);
  min-height: 250px;
  transition: 0.1s ease-in-out;
}

.top-section header {
  height: 60px;
  font-size: 2.5rem;
  padding: 0 0 0 40px;
  transition: 0.2s font-size, 0.1s padding, top 0.3s linear,
    /* box-shadow 1s linear */;
}
.top-section p {
  margin: 0;
  padding: 10px 40px;
  /* background: var(--primary-color); */
  transition: 0.8s;
}

.sponsor-items {
  gap: 1rem;
  padding: 70px 0px 40px;
  transition: 0.3s;
}
.sponsor-items header {
  font-size: 2rem;
  margin: 20px 0 10px;
}
.sponsor-card {
  margin-bottom: 10px;
}

.partners {
  gap: 2rem;
  padding: 0 2rem;
}

.brand-logo {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
.sponsor-card img {
  border-radius: 12px;
  /* filter: grayscale(0.9); */
}

.brand-name,
.sponsor-title {
  margin-bottom: 5px;
}
.brand-name {
  font-size: 1.4rem;
  font-weight: bold;
}

img {
  object-fit: contain;
  border-radius: 10px;
}
/* Desktop mode */

/* Scroll Bar styling code: */
@media screen and (min-width: 850px) {
  ::-webkit-scrollbar {
    background: rgb(0, 0, 0);
    width: 18px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(59, 60, 61);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(71, 74, 77);
  }
  ::-webkit-scrollbar-thumb:active {
    background: rgb(42, 47, 49);
  }
}

/* Body elements styling */

.LHS {
  /* background: var(--primary-color); */
  background: rgba(31, 153, 214, 0.25);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
.desktop .current-route {
  color: rgb(125, 175, 255) !important;
}

.desktop .current-route::after {
  background-color: rgb(125, 175, 255) !important;
}

.LHS header,
.LHS p,
.socials-desktop {
  padding: 0 40px;
}

.LHS header {
  font-size: 3rem;
}

.RHS {
  padding: 170px 0 50px;
  gap: 1rem;
}

.RHS header {
  font-size: 2rem;
  margin: 25px 0 10px;
}

.lhs-sect-wrapper {
  height: 50vh;
}

.socials-desktop {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.85rem;
  font-weight: bold;
  padding-bottom: 30px;
}

.partners-desktop {
  gap: 1.8rem;
  padding: 0 40px;
}

.brand-name-desktop,
.sponsor-title-desktop {
  margin-bottom: 5px;
}
.brand-name-desktop {
  font-size: 1.4rem;
  font-weight: bold;
}

.sponsor-title-desktop {
  width: 230px;
  margin: auto;
}

.brand-logo-desktop {
  height: 150px;
  width: 230px;
  margin-bottom: 20px;
  border-radius: 15px;
  transition: 0.3s ease;
}

.bigger-card {
  margin-bottom: 20px;
}

.bigger-card > .brand-logo-desktop {
  height: 200px;
  width: 300px;
}

.bigger-card > .brand-name-desktop {
  font-size: 2rem;
}

.bigger-card > .sponsor-title-desktop {
  font-size: 1.3rem;
}

.bigger-card > .brand-name-desktop,
.bigger-card > .sponsor-title-desktop {
  width: fit-content;
  margin: 5px auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.bigger-card > .brand-name-desktop span,
.bigger-card > .sponsor-title-desktop span {
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.highlighter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  opacity: 0;
  z-index: 0;
  transition: 0.3s ease-out;
}

.hl-1 {
  background: rgb(240, 14, 119);
}
.hl-2 {
  background: rgb(96, 66, 230);
}

.sponsor-card:hover > div > .highlighter {
  height: 45%;
  opacity: 1;
}

.sponsor-card:hover > .brand-logo-desktop {
  transform: scale(1.15);
  filter: drop-shadow(0 0 30px rgb(63, 105, 219));
}

.transparent-glass-bg {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}

.transparent-glass-bg-top {
  background-color: rgba(67, 67, 67, 0.5);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}

.gap-1rem {
  gap: 1rem;
}

.h-full {
  height: 100%;
}

.mt-2rem {
  margin-top: 2rem;
}

.glass-white {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
}

.desktop video {
  transform: rotate(-90deg);
}