code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* https://codepen.io/kiberbash/pen/MWEpevg */

.desktop .nft {
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(7px);
  max-width: 270px;
  border: 1px solid #ffffff22;
  background-color: #88666f !important;
  background: linear-gradient(0deg, #88666f 0%, rgba(32, 0, 24, 0.5) 100%) !important;
}

.desktop .nft .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.nft {
  display: flex;
  justify-content: center;
  user-select: none;
  max-width: 80vw;
  margin: 2rem auto;
  border: 1px solid #ffffff22;
  background-color: #667188;
  background: linear-gradient(0deg, #637295 0%, rgba(0, 11, 32, 0.5) 100%);
  /* box-shadow: 0 7px 20px 5px #00000088; */
  border-radius: 0.7rem;
  /* backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(7px); */
  overflow: hidden;
  transition: 0.5s all;
}
.nft hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}
.nft ins {
  text-decoration: none;
}
.nft .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}
.nft .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
.nft .main .description {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
  color: #a89ec9;
}
.nft .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}
.nft .main .tokenInfo .price ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
}
.nft .main .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: 0.2rem;
}
.nft .main .tokenInfo .duration ins {
  margin: 0.5rem;
  margin-bottom: 0.4rem;
}
.nft .main .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}
.nft .main .creator ins {
  color: #a89ec9;
  text-decoration: none;
}
.nft .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}
.nft .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #ffffff22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}

.nft ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -200%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.desktop .nft:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}
.desktop .nft:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}
