.transition-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 101;
    font-size: 24px;
}

.transition-visible {
    visibility: visible;
    opacity: 100%;
    transition: all 0.2s ease-in;
}

.transition-invisible {
    visibility: hidden;
    opacity: 0%;
    transition: all 0.2s ease-in;
}

.transition-invisible-no-anim {
    visibility: hidden;
    opacity: 0%;
    transition: none;
}